<br>
<b style="font-size: 30px;">&emsp;Welcome to My YouTube System</b>
        <hr>
        <h5 style="text-align: left;"><b>Recommended Video</b></h5>
        <br>
        <div class="row">
            <div class="col">
                    <img src="assets/home_one.jpg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
                <h6>Explore new Music Video by <em>"Madison Beer - Home To Another One"</em></h6>
                <a href="http://surl.li/qmwoy">
                    <button type="button" class="btn btn-secondary">Watch</button>
                </a>
            </div>
            <div class="col">
                    <img src="assets/home_two.jpg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
                    <h6><b><i>"Wicked Official Trailer"</i>&nbsp;</b> is an upcoming American musical fantasy film starring<i> Cynthia Erivo as Elphaba and Ariana Grande as Glinda</i></h6>
                <a href="http://surl.li/qmwrb">
                    <button type="button" class="btn btn-secondary">Watch</button>
                </a>
            </div>
            <div class="col">
                    <img src="assets/home_three.jpg" alt="Music Video" class="img-fluid mb-4" style= "max-width: 300px;" >
                    <h6><b><i>"Jujutsu Kaisen"</i>&nbsp;</b> is a Japanese manga series written and illustrated by<i> Gege Akutami</i></h6>
                <a href="http://surl.li/qmwsa">
                    <button type="button" class="btn btn-secondary">Watch</button>
                </a>
            </div>
        </div>
        <br>
        <hr>
    <p>Please <b>follow</b> the guideline below</p>
    <p>1. Make sure that you have a strong internet connection to make sure that the process run smoothly when you watching the videos</p>
    <p>2. Click "Search" at the navigation bar on top left of the website to search video</p>
    <p>3. for more info, click the "About" button at the navigation bar at the top left of the website. </p>
    <p>4. Abnrmal behavior will be penalized</p>
    <br>
    <br>
    <br>


  
  
